# Dev Mode
# --- Database Configuration ---
# Format: DATABASE_URL=postgresql://postgres.<project-ref>:<password>@aws-0-<region>.pooler.supabase.com:5432/postgres
DATABASE_URL="postgresql://postgres.<project-ref>:<password>@aws-0-<region>.pooler.supabase.com:5432/postgres"

# --- SSL/TLS ---
SSL_CERT_FILE="certs/prod-ca-2021.crt"
DB_SSL_VERIFY=true

# --- Supabase ---
SUPABASE_JWT_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# --- AI Providers ---
GEMINI_API_KEY=
GROQ_API_KEY=
HF_API_KEY=

# --- App Settings ---
DEBUG=True