fastapi
uvicorn[standard]
python-dotenv
asyncpg>=0.29,<0.30
sqlalchemy>=2.0,<2.1
pydantic-settings>=2.0,<3.0
python-multipart
pyJWT
pyMuPDF
pypdf
Pillow
tenacity
certifi
supabase>=2.0,<3.0
google-genai
groq
huggingface_hub
httpx